$colors: (
  navbar-bg-color: #303952,
  bg-color: #1a2130,
  purple-tone: #7158e2,
  gray-tone: #cedbdc,
  primary-color: #007bff,
  dark-primary-color: #546de5,
  success-color: #388e3c,
  danger-color: #f44336,
  warning-color: #ff8f00,
);
